.simple{
   display: flex;
    flex-wrap: wrap; 
    font-size: 10px;
    margin-left: 40px;
    border: 1px solid grey;
}
.simple1{
    /* border: 3px solid black; */
    margin-left: 15px;
}

.simple2{
    display: flex;
    flex-wrap: wrap; 
}
.carou{
    height: 400px;
    width: 95%;
}
